body{
    font-family: open Sans;
    background-color: rgb(227, 243, 238);
    display: flex;
    justify-content: center;
    padding: 40px;
}

.calculator{
    background-color: rgb(245, 242, 242) ;
    padding: 40px;
    border-radius: 15px ;
    box-shadow: 0px 10px 30px rgb(118, 124, 122);
    width: 360px;
}   
#display{
    width: 100%;
    padding: 2px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    border: none;
    background-color:rgb(219, 216, 216) ;
    box-shadow: 0 0 3px rgb(41, 40, 40);
    color: black;
    
}

.button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: rgb(221, 207, 207);
}

#history-list{
    list-style: none;
    padding-left: 0px;
    max-height: 180px;
    overflow-y:auto ;
}

#history-list li{
    font-family: open Sans;
    background-color: rgb(219, 216, 216) ;
    margin-bottom: 6px;
    padding: 8px 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    border: 1px solid rgb(219, 216, 216) ;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(87, 91, 91);
    transition: background-color 0.3s;
}

#history-list li:hover{
    background-color: rgb(164, 162, 162);
}

#history-list li button{
    background: none;
    color:rgba(255, 0, 0, 0.455);
    font-weight: bold;
    border: none;
    cursor: pointer;
}